body {
  margin: 0;
  padding: 0;
  font-family: 'Exo 2', sans-serif;
  font-weight: 400;
  font-size: 0.9em;
}

/* general */

.container {
  width: 1000px;
  margin: 0 auto;
}

.row-fluid {
  position: relative;
  overflow-x: hidden;
}

input {
  padding: 7px 5px;
  border-radius: 2px;
  border: none;
  outline: none;

  &:focus {
    outline: none;
  }
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6, a {
  font-family: 'Exo 2', sans-serif;
}

.color0 {
  background: #4DF3F8 !important;
  z-index: 1000 !important;

  &:after {
    border-top-color: #4DF3F8 !important;
  }
}

.color1 {
  background: #74d4f8 !important;
  z-index: 999 !important;

  &:after {
    border-top-color: #74d4f8 !important;
  }
}

.color2 {
  background: #57aace !important;
  z-index: 998 !important;

  &:after {
    border-top-color: #57aace !important;
  }
}

.color3 {
  background: #3e7f9c !important;
  z-index: 997 !important;

  &:after {
    border-top-color: #3e7f9c !important;
  }
}

.color4 {
  background: #203a4f !important;
  z-index: 996 !important;

  &:after {
    border-top-color: #203a4f !important;
  }
}

.color5 {z-index: 995 !important;}
.color6 {z-index: 994 !important;}
.color7 {z-index: 993 !important;}
.color8 {z-index: 992 !important;}
.color9 {z-index: 991 !important;}

.ui-slider-handle, label {
  cursor: pointer !important;
}

.mapbox-info-toggle {
  display: none !important;
}

.hidden {
  display: none;
}

.loading.radio_button {
  content: image-url('radio_checked-clean.png');
}

#foo:checked::before,
input[type="radio"], input[type="checkbox"] {
  position:absolute;
  clip: rect(0,0,0,0);
  clip: rect(0 0 0 0);
}

#foo:checked,
input[type="radio"] + label::before, input[type="checkbox"] + label::before {
  content: image-url('radio_not.png');
  padding: 0 3px;
  position: relative;
  top: 3px;
}

input[type="radio"]:checked + label::before, input[type="checkbox"]:checked + label::before {
  content: image-url('radio_checked-clean.png');
  padding: 0 3px;
  position: relative;
  top: 3px;
}

.leaflet-control-zoom-in, .leaflet-control-zoom-out {
  background-image: image-url('icons-000000.png');
}

/* header */

.navbar {
  height: 66px;
  width: 100%;
  background: #f2ae32;
  overflow: hidden;

  h1 {
    margin: 0;
    float: left;

    img {
      margin-top: 2px;
    }
  }

  ul {
    list-style: none;
    float: right;
    margin-top: 37px;

    li {
      float: left;
      margin-right: 10px;

      &:nth-child(1), &:nth-child(2) {
        background: rgba(0, 0, 0, 0.4);
        padding: 7px 8px 6px 8px;
        opacity: 0.7;
      }

      a {
        color: #fff;
        font-size: 0.8em;
      }
    }
  }
}

.ui-autocomplete {
  background: #f2ae32;
  z-index: 9999;

  li {
    &:hover, &.active {
      background: #f2ae32;
      color: #fff;
      border: none;

    }
    a {
      color: #fff;
      font-size: 0.8em;
      border: none;

      &:hover, &.active{
        background: #f2ae32;
        color: #fff;
        border: none;
      }
    }
  }
}

.ui-menu .ui-menu-item a {
  background: #f2ae32 !important;
  color: #fff;
  border: none !important;
  border-radius: 2px !important;
  font-size: 0.8em !important;
}

.ui-datepicker table {
  margin: 0;
}

.datepicker, .ui-spinner-button {
  cursor: pointer;
}

.ui-datepicker {
  width: 140px;
  background: #f2ae32;
  border: none;
  padding: 0;

  .ui-datepicker-today {
    background: #657f96;
  }

  .ui-datepicker-header {
    background: #f2ae32;
    border-radius: 0;
    border: none;
    padding: 0;

    .ui-datepicker-title {
      color: #fef0cb;
      font-size: 0.7em;
      text-transform: uppercase;
      font-weight: 200;
    }

    .ui-datepicker-prev, .ui-datepicker-next  {
      border: none;
      top: -2px;

      span {
        background: image-url('timepicker_left.png') top left no-repeat;
      }

      &:hover {
        background: none;
        border: none;
      }

    }

    .ui-datepicker-next {
      right: 0;

      span {
        background: image-url('timepicker_right.png') top right no-repeat;
      }
    }

  }

  thead {
    background: #f2ae32;

    th {
      padding: 3px 0;
      color: #fef0cb;
      font-size: 0.8em;
      font-weight: 300;
    }
  }

  tbody {
    background: #ffbd00;

    td {
      border: none;
      padding: 0 !important;
      width: 15px !important;
      border: none;

      a, .ui-state-default {
        padding: 5px 2px 5px 2px !important;
        width: 15px !important;
        background: none !important;
        border: none !important;
        color: #fff !important;
        font-weight: 500 !important;
        font-size: 0.8em;
        text-align: center;

        &.ui-state-active, &:hover {
          background: #2a5668 !important;
        }
      }
    }
  }
}

.searchbar {
  height: 80px;
  background: rgba(38, 59, 77, 0.8);
  width: 100%;
  position: absolute;
  z-index: 999;
  top: 66px;

  & > div {
    margin-top: 17px;

    & > span {
      float: left;
      margin-right: 32px;
      padding-left: 45px;

      &:last-of-type {
        margin-right: 0;
      }
    }

    .city_search {
      background: image-url('picto_pin.png') no-repeat left 4px;
      color: #fff;
      font-weight: 300;
      font-size: 0.85em;

      input {
        width: 200px;
      }
    }

    .date_pickers {
      background: image-url('picto_calendrier.png') no-repeat left 8px;
      color: #fff;
      font-weight: 300;
      font-size: 0.85em;

      span {
        margin-left: 3px;

        span {
          margin-left: 117px;
        }
      }

      input {
        background: white image-url('fleche_bas.png') no-repeat right 8px;
        width: 130px;
        margin-left: 2px;
      }
    }

    .nb_people {
      background: image-url('picto_people.png') no-repeat left 15px;
      color: #fff;
      font-weight: 300;
      font-size: 0.85em;
      margin-top: -8px;

      input {
        width: 30px;
        background: #fff;
      }

      .ui-spinner {
        margin-top: 1px;
        background: none;
        border: none;
        margin-left: -6px;
      }

      .ui-spinner-input {
        padding: 8px 0;
        text-align: center;
      }

      .ui-spinner .ui-icon {
        margin-top: -9px;
      }

      .ui-spinner-up {
        background: none;
        border: none;

        &>span {
          span {
            background: image-url('spinner_top.png') no-repeat;
          }
        }
      }
      .ui-spinner-down {
        background: none;
        border: none;

        &>span {
          span {
            background: image-url('spinner_bottom.png') no-repeat;
          }
        }
      }
    }

    .price_range {
      background: image-url('picto_budget.png') no-repeat left 6px;
      margin-top: -5px;
      width: 160px;
      color: #fff;
      font-weight: 300;
      font-size: 0.85em;

      .ui-slider-horizontal {
        height: 10px;
        border: none;
      }

      form {
        padding-top: 4px;
      }

      #slider-range {
        margin-top: 20px;
        margin-bottom: 10px;
      }
    }
  }
}

.range_with_tooltip {
  .tooltip {
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    padding: 2px 5px;
    font-size: 0.80em;
    color: #000;
    position: absolute;
    top: -20px;
    left: -12px;
    width: 30px;
    text-align: center;

    &:after, &:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(0, 0, 0, 0);
      border-top-color: rgba(255, 255, 255, 0.7);
      border-width: 5px;
      margin-left: -5px;
    }

    &:before {
      border-color: rgba(255, 255, 255, 0);
      border-width: 14px;
      margin-left: -14px;
    }

    &:last-of-type {
      margin-left: -5px;
    }
  }

  .ui-slider-range {
    background: #20343f;
    border: none;
  }

  .ui-slider-handle {
    background: image-url('reglette_budget.png') no-repeat;
    height: 15px;
    width: 5px;
    top: -2px;
    border:none;
    border-radius: none !important;
    margin-left: 0;
    outline: none;

    &:last-of-type {
      margin-left: -5px;
    }
  }
}

.fusion {
  .tooltip {
    background: #fff;
  }
}

.leaflet-popup-tip-container {
  margin-bottom: -20px;
}

#left_button {
  position: absolute;
  left: 0;
  top: 90px;
  z-index: 9999;
  width: 36px;
  height: 36px;
  background: image-url('filtre.png') no-repeat;

  &.active {
    background: image-url('to_close.png') no-repeat;
  }
}

#right_button {
  position: absolute;
  right: -1px;
  top: 90px;
  z-index: 9999;
  width: 36px;
  height: 36px;
  background: image-url('right_button.png') no-repeat;

  &.active {
    background: image-url('to_close.png') no-repeat;
  }
}

#sidebar_left {
  width: 200px;
  position: absolute;
  height: 505px;
  background: #fff image-url('shadow_left.png') repeat-y top right;
  z-index: 99;
  display: block;
  left: -200px;
  padding-top: 75px;
  border-bottom: 6px solid #f2ae32;
  box-shadow: inset 0 -7px 8px -8px #696868;

  h2 {
    color: #2b3c4c;
    padding: 5px 4px 0 35px;
    font-weight: 600;
    font-size: 0.9em;
    background: image-url('left_search.png') 8px -1px no-repeat;
  }

  h3 {
    border: none;
    border-bottom: 3px solid #fff;
    border-radius: 0;
    background: #2b3c4c;
    color: #fff;
    padding: 5px 6px;
    font-weight: 200;
    margin: 0;
    font-family: 'Exo 2', sans-serif;
    font-size: 0.75em;
    padding-left: 35px;

    &:last-of-type, &.ui-state-active {
      border: none;
    }

    &.length {
      background: #2b3c4c image-url('left_length.png') 8px 1px no-repeat;
    }

    &.horaires {
      background: #2b3c4c image-url('left_horaires.png') 8px 1px no-repeat;
    }

    &.stopover {
      background: #2b3c4c image-url('left_stopover.png') 8px 1px no-repeat;
    }

    &.companies {
      background: #2b3c4c image-url('left_companies.png') 8px 1px no-repeat;
    }

    &.country {
      background: #2b3c4c image-url('left_country.png') 8px 1px no-repeat;
    }

    &.mood {
      background: #2b3c4c image-url('left_mood.png') 8px 1px no-repeat;
    }
  }

  p {
    font-size: 0.8em;
  }

  .ui-accordion-content {
    background: #d3d8db;
    margin-right: 0;
    border: none;
    padding: 4px;
    border-radius: 0;
    padding-right: 0;
    margin-right: 0;
    border-bottom: 3px solid #fff;
    position: relative;
    overflow: hidden;

    .left_shadow {
      width: 15px;
      top: 0;
      position: absolute;
      right: 0;
      height: 100%;
      background: image-url('sidebar_left_shadow.png');
    }
  }

  .ui-accordion-content-active {
    border-bottom: none;
    margin-bottom: 3px;
  }

  .ui-accordion-header-icon {
    right: 0.5em !important;
    left: auto;
  }

  .ui-icon.iconOpen {
    background: image-url('arrow-left.png') no-repeat -2px 5px;
    padding-top: 3px;
    width: 11px;
    height: 13px;

  }
  .ui-icon.iconClosed {
    background: image-url('arrow-bottom.png') no-repeat 0 4px;
    width: 13px;
    height: 13px;
    padding-top: 3px;
  }

  .travel_time {
    background: #d3d8db;
    color: #fff;
    font-weight: 300;
    font-size: 0.85em;
    margin-right: 0;
    height: 70px;

    .ui-slider-horizontal {
      height: 10px;
      border: none;
    }

    form {
      padding-top: 5px;
      height: 60px;
      display: block;
    }

    #slider-range-travel {
      margin-top: 25px;
      width: 85%;
      margin-left: 7%;
    }
  }

  .within_time {
    background: #d3d8db;
    color: #fff;
    font-weight: 300;
    font-size: 0.85em;
    margin-right: 0;
    height: 140px;

    .ui-slider-horizontal {
      height: 10px;
      border: none;
    }

    form {
      padding-top: 5px;
      height: 60px;
      display: block;
    }

    #slider-range-start, #slider-range-end {
      margin-top: 25px;
      width: 85%;
      margin-left: 7%;
    }
  }

  #reset_filter {
    margin: 5px 0 0 5px;
    display: block;
    color: #203a4f;
    font-size: 0.8em;

    img {
      vertical-align: -4px;
    }
  }
}

#sidebar_right {
  width: 360px;
  position: absolute;
  height: 500px;
  background: #f4f5f6 image-url('shadow_left.png') repeat-y top right;
  z-index: 99;
  display: block;
  right: -360px;
  padding-top: 80px;
  border-bottom: 6px solid #f2ae32;
  overflow-y: scroll;
  box-shadow: inset 0 -7px 8px -8px #696868;

  .shadow_right {
    position: absolute;
    top: 0;
    left: -13px;
    height: 120%;
    width: 10px;
    box-shadow: 5px 0px 10px #8E8E8E;
    background: transparent;
  }

  ul {
    margin: 0;
    padding: 0;

    p {
      text-align: center;
    }

    li {
      list-style: none;
      height: 130px;
      position: relative;
      cursor: pointer;

      &:first-of-type > div {
        background: #74d4f8 !important;
      }

      &:nth-of-type(2) > div {
        background: #57aace !important;
      }

      &:nth-of-type(3) > div {
        background: #3e7f9c !important;
      }

      &:nth-of-type(4) > div {
        background: #295568 !important;
      }

      .open_pin {
        position: absolute;
        bottom: 6px;
        left: 50%;
        margin-left: -35px;
        text-decoration: none;
        color: #203a4f;
        font-weight: 600;
        font-size: 0.8em;
      }

      &> div {
        display: block;
        height: 35px;
        background: #2b3c4c;

        h3 {
          color: #fff;
          padding: 6px;
          width: 210px;
          float: left;
          margin: 0;
          letter-spacing: 1px;
          overflow: hidden;
          height: 20px;
          font-weight: 500;

          span {
            font-weight: 200;
          }
        }

        .price {
          color: #fff;
          font-size: 0.7em;
          font-weight: 300;
          text-align: center;

          br {
            height: 1px;
            content: "";
            margin-top: -4px;
            display: block;
          }

          span {
            float: right;
            margin-top: -10px;
            font-size: 2.2em;
            margin-right: 5px;
          }
        }

        .start, .end {
          padding-left: 70px;
          margin-top: 5px;
          font-size: 0.88em;

          span {
            font-weight: bold;
          }
        }

        .start {
          background: image-url('plane_start2.png') no-repeat 30px 0px;
          margin-top: 9px;
        }

        .end {
          background: image-url('plane_end2.png') no-repeat 30px -3px;
        }
      }
    }
  }
}

#map {
  min-width: 1000px;
  width: 100%;
  height: 580px;
  border-bottom: 6px solid #f2ae32;

  .count-icon {
    background: #2a5668;
    border: 3px solid #fff;
    color:#fff;
    font-weight:bold;
    text-align:center;
    border-radius: 15px;
    font-size: 1.1em;
    padding: 5px;
    width: 70px !important;
    line-height: 0.85;
    height: 30px !important;
    font-family: 'Exo 2', sans-serif;
    font-weight: 400;

    &:after, &:before {
      top: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(0, 0, 0, 0);
      border-top-color: #2a5668;
      border-width: 10px;
      margin-left: -10px;
    }

    &:before {
      border-color: rgba(255, 255, 255, 0);
      border-top-color: #fff;
      border-width: 14px;
      margin-left: -14px;
    }

    &:nth-of-type(1) {
      background: #333;

      &:after {
        border-top-color: #333;
      }
    }

    &:nth-of-type(2) {
      background: #888;
    }
  }

  .leaflet-popup-content-wrapper {
    border-radius: 15px;
    border: 4px solid #fff;
    padding: 0;
    overflow: hidden;
    margin-top: 100px;
  }

  .leaflet-popup {
    margin-left: 5px;
  }

  .leaflet-popup-content {
    width: 400px !important;
    height: 420px !important;
    padding: 0;
    overflow: hidden;

    .bottom {
      background: #f2ae32 image-url('popup_bottom_bg.png') 10px center no-repeat;
      height: 40px;
      width: 100%;
      float: left;
      text-align: center;
      color: #fff;
      line-height: 2.8;
      font-size: 1em;
      font-family: 'Exo 2', sans-serif;

      span {
        color: #203a4f;
        font-size: 1.2em;
        font-weight: 600;
      }
    }

    .left, .right {
      background: #2b3c4c;
      height: 380px;
      width: 200px;
      float: left;
      position: relative;

      h4 {
        width: 100%;
        height: 30px;
        background: #78d4f5;
        color: #fff;
        font-size: 1.4em;
        padding: 3px 0 0 20px;
        letter-spacing: 1px;
        font-weight: 400;
        margin-bottom: 0;

        span {
          font-weight: 200;
        }
      }
    }

    .left {

      img {
      }

      p {
        color: #fff;
        font-size: 0.8em;
        margin: 5px;
        line-height: 1.2;
        font-weight: 200;
        letter-spacing: 1px;
      }

      .blurred {
        position: absolute;
        height: 25px;
        width: 100%;
        bottom: 142px;
        background: -moz-linear-gradient(bottom, #2b3c4c 50%, transparent 100%);
        background: -webkit-linear-gradient(bottom, #2b3c4c 50%, transparent 100%);
        background: -o-linear-gradient(bottom, #2b3c4c 50%, transparent 100%);
        background: -ms-linear-gradient(bottom, #2b3c4c 50%, transparent 100%);
        background: linear-gradient(bottom, #2b3c4c 50%, transparent 100%);
      }
    }

    .right {
      box-shadow: -5px 0px 10px #1a2e40;

      ul {
        margin-left: 5px;

        li {
          list-style: none;
          color: #fff;
          border-bottom: 1px solid #516271;
          line-height: 1.4;
        }
      }

      .start, .end {
        li {
          padding-top: 5px;
          padding-bottom: 5px;
          line-height: 1.3;
          font-weight: 200;
          font-size: 0.7em;
          padding-left: 5px;
        }

        .company:hover {
          background: #465868;
        }

        li:first-of-type {
          font-size: 0.8em;
        }

        b {
          font-size: 1em;

          span {
            font-weight: 200;
          }
        }

        .start_date, .end_date {
          padding-bottom: 6px;
        }

        .hours {
          padding-left: 20px;
        }
      }

      .start {
        background: image-url('plane_start.jpg') no-repeat left 0px;
        font-family: 'Exo 2', sans-serif;

        li {
          list-style: none;
        }

        .start_date {
          font-weight: 200;
          display: inline-block;

          &:first-letter {
            text-transform: uppercase;
          }

          span {
            font-weight: 700;
          }
        }
      }

      .end {
        background: image-url('plane_end.jpg') no-repeat left 0;
        li {
          list-style: none;
        }

        .end_date {
          font-weight: 200;
          display: inline-block;

          &:first-letter {
            text-transform: uppercase;
          }

          span {
            font-weight: 700;
          }
        }
      }
    }

  }
}

.wrapper {
  width: 1000px;
  margin: 55px auto;

  .bloc {
    width: 315px;
    height: 305px;
    float: left;
    margin: 20px 30px;
    background: #2a5668;
    position: relative;

    .tag_line {
      text-align: right;
      width: 55%;
    }

    .tag_click {
      float: right;
      margin-right: 25px;
      margin-top: -32px;
    }

    .blurred {
      position: relative;
      height: 130px;
      overflow: hidden;

      img {
        position: absolute;
        width: 100%;
      }
      
      span {
        position: absolute;
        height: 25px;
        width: 100%;
        bottom: -10px;
        background: -moz-linear-gradient(bottom, #2a5668 50%, transparent 100%);
        background: -webkit-linear-gradient(bottom, #2a5668 50%,transparent 100%);
        background: -o-linear-gradient(bottom, #2a5668 50%,transparent 100%);
        background: -ms-linear-gradient(bottom, #2a5668 50%,transparent 100%);
        background: linear-gradient(bottom, #2a5668 50%,transparent 100%);
      }
    }

    h5 {
      color: #fff;
      font-size: 1em;
      padding: 0 15px;
      margin: 0;

    }

    p {
      padding: 0 15px;
      color: #fff;
      font-size: 0.85em;
    }

    .end_bloc {
      position: absolute;
      text-align: center;
      font-size: 1.2em;
      bottom: 0px;
      color: #f2ae32;
      width: 285px;

      a {
        display: inline-block;
        width: 70px;
        top: 2px;
        position: relative;

        img {
          position: absolute;
          margin-top: -26px;
          margin-left: -30px;
        }
      }
    }

    h4 {
      font-family: 'Exo 2', sans-serif;
      color: #fff;
      font-size: 1.4em;
      padding: 5px 35px;
      background: #f2ae32 image-url('pin_wrapper.png') no-repeat 8px 3px;
      font-weight: 500;
      margin: 0;

      span {
        font-weight: 200;
      }
    }

    p {
      font-family: 'Exo 2', sans-serif;
      font-size: 0.85em;
      line-height: 1.1;
    }
  }

  .fo, .ln {
    margin-left: 0;
    margin-right: 0;
  }

  .ln {
    width: 295px;
    background: none;
  }

  .first {
    background: #f2ae32;
    padding: 0;

    p {
      padding: 15px;
      color: #fff;
    }
  }
}

footer {
  background: #2a5668;
  width: 100%;
  height: 225px;
  float: left;
  margin-top: 70px;
}